/* Generics */

body {
  height: 100vh;
  background: rgb(0, 150, 136);
  background: linear-gradient(
    180deg,
    rgba(0, 150, 136, 1) 15%,
    rgba(216, 219, 213, 1) 15%
  );
  overflow: hidden;
}

header {
  background-color: #eaeaea;
  height: 90px;
}

p {
  margin-bottom: 0;
}

/* Utils */

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

/* Root */
#root {
  height: 95vh;
  width: 80vw;
  background-color: white;
  margin: auto;
}

/* Contacts */

.contacts {
  flex-basis: 35%;
}

.pfp > img {
  width: 100%;
  border-radius: 50%;
}

.icons > i {
  color: #b1b1b1;
  margin-right: 25px;
  cursor: pointer;
}

.notifies {
  height: 100px;
  background-color: #8edafc;
}

.fa-bell-slash {
  color: #8edafc;
}

.notifies p {
  font-size: 18px;
}

.searchbar-container {
  background-color: #fafafa;
  height: 50px;
}

.searchbar-container i {
  color: #b1b1b1;
  left: 25px;
  bottom: 15px;
}

#searchbar {
  border: 1px solid #f6f6f6;
}

.contacts-list {
  height: calc(100% - 240px);
  overflow: auto;
}

.contact {
  border-bottom: 1px solid #f6f6f6;
  cursor: pointer;
}

/* Chat */

.chat {
  flex-basis: 65%;
}

.chat-body {
  height: calc(100% - 180px);
  background-image: url("../img/mine.jpg");
  overflow: auto;
}

.message {
  padding: 10px;
  width: 400px;
  border-radius: 10px;
  margin: 5px 0;
}

.message.sent {
  background-color: #d5f9ba;
  align-self: flex-end;
}

.message.received {
  background-color: white;
}

.write-message {
  background-color: #f3eeea;
  height: 90px;
}

.write-message > i {
  color: #6b7376;
}

.write-message > input {
  border-radius: 5px;
}
